<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body class="has-navbar-fixed-top">
{% include "includets/navbar.html" %}





<div class="columns is-multiline">
    <div class="column post is-2"></div>
              <div class="column post is-4">
                <article class="columns is-multiline">
                  <div class="column is-12 post-img">
                    <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                  </div>
                  <div class="column is-12 featured-content ">
                    <h3 class="heading post-category">Category Name</h3>
                    <h1 class="title post-title">Slightly Longer Blog Post Title</h1>
                    <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
                    <br>
                    <a href="#" class="button is-primary">Read More</a>
                  </div>
                </article>
              </div>
</div>
<div class="section is-medium"></div>







</body>
</html>